*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* header{
    background-color: red;
    height: 75px;
} */
/* INIZIO CLASSI LAYOUT */
.container-full{
    max-width: 100vw;
    margin: 0 auto;
}

.container-large{
    max-width: 1200px;
    margin: 0 auto;
}

.container{
    max-width: 990px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.flex-end{
    justify-content: flex-end;
}

.col-50{
    width: 50%;
}

.col-100{
    width: 100%;
    margin: 10px 0;
}

.col-40{
    width: 40%;
    margin: 10px 0;
}

.col-60{
    width: 60%;
    margin: 10px 0;
}

.col-33{
    width: calc(100% / 3 - 30px);
    margin: 10px 15px;
}

.col-20{
    width: 20%;
    margin: 10px 0;
}

.content-header{
    padding: 0px 10px;
}

ul li{
    list-style-type: none;
    padding: 0 10px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.font-size-14{
    font-size: 14px;
}

.text-align-center{
    text-align: center;
}

.text-align-right{
    text-align: right;
}
/* FINE CLASSI LAYOUT */
/* INIZIO CLASSI UTILITY */
.border{
    border: 1px solid lightgray;
}

.border-white{
    border: 1px solid white;
}

.border-bottom{
    border-bottom: 1px solid lightgray;
}
/* INIZIO ALTEZZE */
.height-75{
    height: 75px;
}

.height-200{
    height: 200px;
}

.height-50{
    height: 50px;
}

.height-500{
    height: 500px;
}

.height-300{
    height: 300px;
}

.height-100{
    height: 100px;
}

.height-150{
    height: 150px;
}

.min-height-700{
    min-height: 700px;
}
/* FINE ALTEZZE */
/* INIZIO ABBONAMENTI */
.sub-name{
    font-size: 20px;
}

.price{
    font-weight: bold;
    padding: 10px 0;
}

.price-spec{
    color: gray;
}

.memory{
    padding: 10px 0;
}

.color-blue{
    color: rgb(0, 81, 255);
}
/* FINE ABBONAMENTI */
/* INIZIO CLASSI PADDING E MARGIN */
.py-20{
    padding: 20px 0;
}

.pt-50{
    padding-top: 50px;
}

.py-50{
    padding: 50px 0;
}

.py-5{
    padding: 5px 0;
}

.py-10{
    padding: 10px 0;
}

.padding-20{
    padding: 20px;
}

.my-50{
    margin: 50px 0;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-50{
    margin-bottom: 50px;
}

.ml-40{
    margin-left: 40px;
}
/* FINE CLASSI PADDING E MARGIN */
.width-100{
    width: 100%;
}
/* INIZIO CLASSI BUTTON */
.btn{
    padding: 8px 10px;
    border: 0;
}

.btn-blue{
    background-color: rgb(0, 81, 255);
    color: white;
}
/* FINE CLASSI BUTTON */
/* INIZIO CLASSI BACKGROUND */
.bg-lightblue{
    background-color: lightblue;
}

.bg-blue{
    background-color: rgb(0, 81, 255);
}

.bg-orange{
    background-color: orange;
}

.bg-yellow{
    background-color: yellow;
}

.bg-pink{
    background-color: pink;
}

.bg-green{
    background-color: green;
}

.bg-gray{
    background-color: gray;
}

.bg-brown{
    background-color: brown;
}

.bg-lightgray{
    background-color: lightgray;
}

.bg-violet{
    background-color: violet;
}

.bg-black{
    background-color: black;
}

.bg-cyan{
    background-color: cyan;
}
/* FINE CLASSI BACKGROUND */
/* FINE CLASSI UTILITY */